<div class="inner-banner">
  <header>
    <nav class="mnu navbar-light">
      <div class="logo" id="logo">
        <h1>
          <%= link_to "#home" , class: "editContent logo_style" do %>
          <h2><b>LET US ZING</b></h2>
          <% end %>
        </h1>
      </div>
      <label for="drop" class="toggle">
        <span class="fa fa-bars"></span>
      </label>
      <input type="checkbox" id="drop">
      <ul class="menu">

        <li class="dropdown">
          <%= link_to "#home", class: "dropdown-toggle",
          'data-toggle' => "dropdown" do %>
            <%= t "Account" %> <b class="caret"></b>
          <% end %>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Profile", "#profile" %></li>
            <li><%= link_to "Songs", "#songs" %></li>
            <li><%= link_to "match list", "#match_list" %></li>
            <li class="divider"></li>
            <li>
              <%= link_to "Log out", "logout" %>
            </li>
          </ul>
        </li>

        <li class="active"><%= link_to "Home", "#home" %></li>

        <li><%= link_to "About", "#about" %>

        <li><%= link_to "Contact us", "#contact" %></li>
      </ul>
    </nav>
  </header>
  <div class="container">
    <div class="banner-text">
      <div class="slider-info">
        <h3 class="editContent">Let music zing your soul</h3>
        <%= link_to "Zing with us now", "#login",
          class: "banner-button btn mt-md-5 mt-4"%>
      </div>
    </div>
  </div>
</div>
